.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: forestgreen;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #282727;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    background: rgba(40, 39, 39, 0.9);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(40, 39, 39, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait-centered.png");
      border-radius: 50%;
      border: solid 3px forestgreen;
      background-size: cover; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: forestgreen; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: forestgreen; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #353434;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/three-ridges.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem rem;
    background: rgba(61, 60, 60, 0.5);
    width: fit-content; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: forestgreen; }

main {
  padding: 2rem 2rem 0rem 2rem;
  min-height: calc(100vh - 45px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: forestgreen;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 10vh; }

#about .lg-heading {
  font-size: 2rem; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .juice-link {
    text-decoration-color: forestgreen !important;
    text-decoration: underline;
    font-weight: 560; }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 300px;
    border-radius: 30%;
    background-size: cover;
    margin: auto; }
  .about-info #juice {
    width: 250px; }
  .about-info h3,
  .about-info h4 {
    margin-top: 5px;
    margin-left: 10px; }
  .about-info #roles-desc {
    margin-top: 80px; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.1rem;
    background: #424141;
    padding: 0.5rem;
    border: forestgreen 5px solid; }
  .about-info .job-1 {
    grid-area: job1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #424141;
    padding: 0.5rem;
    border-bottom: forestgreen 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects .no-host {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    background: #b5b3b3;
    color: white;
    font-size: 1.3rem; }
    .projects .no-host .fab {
      font-weight: 600; }
  .projects img {
    width: 100%;
    border: 3px solid white; }
    .projects img:hover {
      opacity: 0.5;
      border-color: forestgreen;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 1.75rem 3rem;
      background: forestgreen;
      color: white; }
      .boxes div:hover span {
        color: white; }

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600; }
  .btn:hover, .btn-light:hover, .btn-dark:hover {
    background: forestgreen;
    color: white; }

.btn-light {
  background: #b5b3b3;
  color: white; }

.btn-dark {
  background: #686767;
  color: white; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #1b1b1b;
  color: white;
  height: 45px;
  color: white; }

@media screen and (min-width: 1453px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 1099px) and (max-width: 1452px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 1098px) {
  body {
    overflow: auto; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: left; }
  .menu .nav-link {
    font-size: 26px; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 175px;
      height: 175px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 782px) {
  main#home h1 {
    margin-top: 10vh; }
  main {
    margin-left: 6.5%;
    width: 85%;
    padding: 0; }
    main h2.sm-heading {
      margin-top: 2rem; }
  #about .lg-heading {
    margin-top: 0.5rem; }
  .menu-btn {
    top: 0.4rem; }
  .about-info .bio-image {
    width: 250px; }
  .about-info .job {
    text-align: left;
    font-size: 0.8rem; }
  .about-info #roles-desc {
    margin-top: 0; }
  .projects {
    grid-template-columns: 1fr; }
  p {
    font-size: 0.8rem; }
  main .lg-heading {
    font-size: 2rem;
    margin-top: 0.4rem; }
  .boxes div {
    font-size: 1rem; } }
