@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: #a9c7da;
  color: set-text-color($primary-color);
  height: 100vh;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

// Headings

.home-heading-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.3rem;
    border: 5px solid #52505045;
    border-radius: 5px;
    padding: 5px;

    &.project {
      font-size: 3rem;
    }
  }

  &.sm-heading {
    padding: 0.2rem rem;
    background: rgba(lighten($primary-color, 3), 0.5);
    width: 393px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

h4 {
  margin-bottom: 0px;
  margin-top: 0.7rem;
  width: 100%;
  justify-content: center;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $third-color;
  margin-left: 0.2rem;
}

main {
  padding: 2rem 2rem 0rem 2rem;
  min-height: calc(100vh - 45px);

  .icons {
    margin-top: 2rem;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 7vh;
      width: 393px;
      display: flex;
      justify-content: center;
    }
  }
}

// About Page

#about {
  #about-heading {
    width: 100%;
  }
  .lg-heading {
    font-size: 2rem;
    width: 300px;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 20px;

  .juice-link {
    text-decoration-color: $secondary-color !important;
    text-decoration: underline;
    font-weight: 560;
  }

  .bio-image {
    grid-area: bioimage;
    width: 300px;
    border-radius: 30%;
    background-size: cover;
    margin: auto;
  }

  #juice {
    width: 250px;
  }

  h3,
  h4 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #roles-desc {
    margin-top: 80px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.1rem;
    background: lighten($primary-color, 10);
    padding: 0.5rem;
    border: #078dcaed 5px solid;
  }

  .job-1 {
    grid-area: job1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: #078dcaed 5px solid;
  }
}

// Work Projects
.project-heading-div {
  background: lighten(grey, 25);
  width: fit-content;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.project-greeting {
  margin-bottom: 2rem;
  background: lighten(grey, 25);
  width: fit-content;
  line-height: 2.5rem;
  border: 5px solid #52505045;
  border-radius: 5px;
  padding: 5px;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .no-host {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    background: lighten($primary-color, 50);
    color: white;
    font-size: 1.3rem;
    text-align: center;

    &.info {
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      justify-content: center;
      padding: 0;

      &.digital {
        font-size: 14px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }

    .fab {
      font-weight: 600;
    }
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid white;
    border: 6px solid #52505045;
    box-shadow: 3px 3px 2.5px #000000;
    border-radius: 4px;
    margin-bottom: 5px;

    &:hover {
      opacity: 0.75;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
#contact {
  .lg-heading {
    width: 400px;
    margin-bottom: 2rem;
    .text-secondary {
      margin-left: 1rem;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1.75rem 3rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: white;
}

.btn-dark {
  @extend .btn;
  background: lighten($primary-color, 20);
  color: white;
  text-align: center;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 45px;
  color: white;
}

@import "mobile";
